# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CPP_Learnings/ArraysAndString/x64/Debug
/CPP_Learnings/x64/Debug
/CPP_Learnings/.vs/CPP_Learnings
/cpp_learning/.vs/cpp_learning
/cpp_learning/ArraysAndString/x64/Debug
/cpp_learning/x64/Debug
